<div class="news">
    <h3><strong>awards</strong></h3>
    <table>
        <tr><td class="date">2017</td> <td class="announcement"> Travel award to attend AISTATS'17 </td></tr>
        <tr><td class="date">2015</td> <td class="announcement"> Best paper award, ACM Conference on Bioinformatics, Computational Biology, and Health Informatics (ACM BCB) </td></tr>
        <tr><td class="date">2015</td> <td class="announcement"> Travel award to attend Big Data in Life Sciences workshop (co-located with ACM-BCB'15)</td></tr>
    </table>
</div>
